/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/

/Library/ArtifactDB
/Library/PackageCache/com.unity.burst@*/.Runtime/libburst-llvm-*.dylib

# Visual Studio cache directory
.vs/

/# Gradle cache directory
.gradle/
